.group {
  position: relative;
  margin-bottom: 45px;
}
input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  border-bottom: 1px solid #757575;
}
input:focus {
  outline: none;
}
/* LABEL ======================================= */
label {
  color: #999;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}
/* active state */
input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label {
  top: -20px;
  font-size: 14px;
  color: #5264AE;
}
/* active state */
input:focus ~ .bar:before {
  width: 53%;
}
input:focus ~ .bar:after {
  width: 50%;
}
/* HIGHLIGHTER ================================== */
.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}
/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}
/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #5264AE;
  }
  to {
    width: 0;
    background: transparent;
  }
}
/* ==========  Select Field Variables ========== */
/* ==========  Select Field ========== */
/* Style Select Field */
select {
  font-family: inherit;
  background-color: transparent;
  width: 102%;
  padding: 0;
  font-size: 16px;
  height: 30px;
  border: none;
}
/* Remove focus */
select:focus {
  outline: none;
}
/* Hide label */
.mdl-selectfield label {
  display: none;
}
/* Use custom arrow */
.mdl-selectfield select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.mdl-selectfield {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  position: relative;
}
.mdl-selectfield:after {
  position: absolute;
  top: 0.75em;
  right: 0.5em;
  /* Styling the down arrow */
  width: 0;
  height: 0;
  padding: 0;
  content: '';
  border-left: .25em solid transparent;
  border-right: .25em solid transparent;
  border-top: 0.375em solid rgba(0, 0, 0, 0.12);
  pointer-events: none;
}
.accordion {
  margin-left: 30px;
}
.accordion div {
  margin-top: 15px;
}
.accordion div .question {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 20px;
  cursor: pointer;
}
.accordion div .question:before {
  content: "";
  width: 10px;
  height: 10px;
  display: block;
  border-radius: 100%;
  position: absolute;
  background: transparent;
  border: 1px solid rgba(42, 48, 65, 0.7);
  margin-left: -20px;
  margin-top: 6px;
}
.accordion div .article {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px 20px;
  display: none;
  overflow: hidden;
  font-style: italic;
}
.accordion div.active .question:before {
  background: rgba(42, 48, 65, 0.7);
}
.accordion div.active .article {
  display: block;
}
* {
  margin: 0;
  padding: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
  min-width: 900px;
  background: url("/bg12.jpg") no-repeat;
  display: table-cell;
  background-size: cover;
  width: 100vw;
  padding-top: 195px;
}
header {
  background-color: rgba(42, 48, 65, 0.5);
  -webkit-box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  -moz-box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  z-index: 5;
  top: 0;
  height: 125px;
  left: 0;
  width: 100vw;
  position: fixed;
  padding-bottom: 70px;
}
@media (max-width: 600px) {
  header {
    text-align: center;
    position: absolute;
  }
}
header .header-menu {
  position: relative;
  width: 100%;
  left: 0;
  display: inline-block;
  text-align: center;
  right: 0;
  margin: auto;
  margin-top: 60px;
}
header .header-menu a {
  height: 40px;
  line-height: 40px;
  display: inline;
  text-transform: capitalize;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-decoration: none;
  color: #ede7f6;
  padding: 10px 20px 10px 20px;
  font-weight: 200;
}
header .header-menu a:hover {
  background-color: #ede7f6;
  color: rgba(42, 48, 65, 0.7);
}
header .header-menu a.active {
  color: #ede7f6;
  font-weight: 600;
  text-shadow: 1px 1px 2px black;
}
header .header-menu a.active:hover {
  background-color: #ede7f6;
  color: rgba(42, 48, 65, 0.7);
  text-shadow: none;
}
header img.logo {
  max-width: 100px;
  max-height: 100px;
  margin: 10px;
}
@media (max-width: 600px) {
  header img.logo {
    clear: both;
    display: inline-block;
  }
}
header ul.contacts {
  display: block;
  position: absolute;
  right: 6%;
  top: 50px;
  list-style: none;
}
header ul.contacts li {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ede7f6;
  font-weight: 100;
  margin-top: 10px;
}
header ul.contacts li .contacts-item {
  font-weight: 200;
  color: #ede7f6;
}
header .title {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 34px;
  position: relative;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  text-align: center;
  top: 25px;
  -webkit-text-stroke: 1px rgba(253, 208, 135, 0.5);
  color: #D5AD6D;
  /*if no support for background-clip*/
  background: -webkit-linear-gradient(transparent, transparent), -webkit-linear-gradient(top, #d5ad6d 0%, #d5ad6d 26%, #e2ba78 35%, #a37e43 45%, #91703b 61%, #d5ad6d 100%);
  background: -o-linear-gradient(transparent, transparent);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media (max-width: 600px) {
  header .title {
    clear: both;
    display: inline-block;
    position: static;
    width: 100%;
    margin-bottom: 15px;
  }
}
header .title h1 {
  font-weight: 500;
}
section.body {
  z-index: 1;
  overflow: hidden;
  min-height: 100vh;
  height: 100%;
  display: table;
  width: 100%;
}
section.body aside.left-block {
  width: 18vw;
  float: left;
  vertical-align: top;
  margin-top: 20px;
  margin-left: 10px;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ede7f6;
  font-weight: 100;
}
section.body aside.left-block .payments {
  padding: 15px;
  background: rgba(42, 48, 65, 0.5);
  -webkit-box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  -moz-box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  margin-bottom: 30px;
}
section.body aside.left-block ul {
  list-style: none;
  margin-left: 10px;
}
section.body aside.left-block ul li {
  margin: 9px 0;
}
section.body aside.left-block h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #ede7f6;
  font-weight: 100;
  font-size: 24px;
  margin: 5px;
}
@media (max-width: 600px) {
  section.body aside.left-block {
    width: 100vw;
    height: auto;
    max-height: 900px;
    display: block;
    margin-top: 80px;
  }
}
@media (max-width: 600px) {
  section.body aside.left-block.closed {
    max-height: 0;
  }
}
section.body aside.left-block .mobile-menu {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  -moz-box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  display: none;
  position: absolute;
  z-index: 9;
  background: rgba(237, 231, 246, 0.8);
  right: 25px;
  text-align: center;
  cursor: pointer;
  bottom: 100px;
  -webkit-transition: bottom 0.5s ease-out 0s;
  -moz-transition: bottom 0.5s ease-out 0s;
  -o-transition: bottom 0.5s ease-out 0s;
  transition: bottom 0.5s ease-out 0s;
}
section.body aside.left-block .mobile-menu.closed {
  bottom: 400px;
}
section.body aside.left-block .mobile-menu i.fa-minus {
  font-size: 35px;
  color: rgba(42, 48, 65, 0.5);
  margin-top: 10px;
  display: none;
  width: 30px;
  height: 30px;
}
section.body aside.left-block .mobile-menu i.fa-minus.visible {
  -webkit-animation: spin 1s;
  /* Chrome, Safari, Opera */
  animation: spin 1s;
  display: inline-block;
}
section.body aside.left-block .mobile-menu i.fa-plus {
  font-size: 35px;
  color: rgba(42, 48, 65, 0.5);
  margin-top: 10px;
  display: none;
  width: 30px;
  height: 30px;
}
section.body aside.left-block .mobile-menu i.fa-plus.visible {
  -webkit-animation: spin 1s;
  /* Chrome, Safari, Opera */
  animation: spin 1s;
  display: inline-block;
}
@media (max-width: 600px) {
  section.body aside.left-block .mobile-menu {
    display: block;
  }
}
section.body .main-container {
  width: 70%;
  position: relative;
  padding: 20px 0;
  background: rgba(237, 231, 246, 0.8);
  margin-top: 20px;
  min-height: 100vh;
  margin-left: 2%;
  box-sizing: border-box;
  float: left;
  vertical-align: top;
  height: 100%;
}
@media (max-width: 600px) {
  section.body .main-container {
    width: 100vw;
    height: auto;
    display: block;
    margin-top: 0;
  }
}
section.body .static-block {
  display: block;
  width: 100%;
  padding: 0 40px;
  box-sizing: border-box;
  color: rgba(42, 48, 65, 0.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  margin-bottom: 10px;
}
section.body .static-block a {
  color: #927940;
}
section.body .static-block .suppliers-faq {
  margin-top: 20px;
}
section.body .static-block .suppliers-faq .question {
  display: block;
  font-weight: 500;
}
section.body .static-block .suppliers-faq .answer {
  display: block;
  font-style: italic;
}
section.body .static-block .suppliers-contacts {
  list-style: none;
}
section.body .static-block .suppliers-contacts i {
  padding-top: 5px;
  background-position-y: 4px;
  background-repeat: no-repeat;
}
section.body .static-block .suppliers-pay {
  list-style: none;
}
section.body .static-block .suppliers-pay i {
  padding-top: 5px;
  background-position-y: 4px;
  background-repeat: no-repeat;
}
section.body .static-block p {
  margin-top: 15px;
  text-indent: 1.5em;
  text-align: justify;
  line-height: 1.5em;
}
section.body .static-block li {
  margin-top: 15px;
  text-align: justify;
  line-height: 1.5em;
}
section.body .static-block li ul {
  margin-left: 25px;
}
section.body .static-block h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: rgba(42, 48, 65, 0.5);
  margin-bottom: 20px;
  font-weight: 100;
}
section.body ul.item-list {
  color: #ede7f6;
  list-style: none;
  width: 100%;
  margin-top: 30px;
}
section.body ul.item-list li {
  height: 20px;
  line-height: 20px;
  text-align: center;
  padding: 10px 0;
  margin: 2px 40px 0;
  color: rgba(42, 48, 65, 0.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}
section.body ul.item-list li.header {
  font-weight: 600;
}
section.body ul.item-list li div {
  float: left;
  width: 33%;
}
section.body ul.item-list li div.item-half {
  width: 50%;
}
section.body .game-list {
  display: block;
  text-align: center;
  width: 100%;
}
section.body .game-list h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: rgba(42, 48, 65, 0.5);
  margin-bottom: 10px;
  font-weight: 100;
}
section.body .game-list .game {
  width: 200px;
  height: 200px;
  margin: 5px 10px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  -webkit-box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  -moz-box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
  box-shadow: 0 2px 3px 1px rgba(42, 48, 65, 0.7);
}
section.body .game-list .game .game-name {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-shadow: 2px 2px 2px black;
  -webkit-transition: bottom 0.5s ease-in 0.3s;
  -moz-transition: bottom 0.5s ease-in 0.3s;
  -o-transition: bottom 0.5s ease-in 0.3s;
  transition: bottom 0.5s ease-in 0.3s;
}
section.body .game-list .game img {
  position: relative;
  width: 200px;
  bottom: 0;
  -webkit-transition: bottom 0.5s ease-out 0.1s;
  -moz-transition: bottom 0.5s ease-out 0.1s;
  -o-transition: bottom 0.5s ease-out 0.1s;
  transition: bottom 0.5s ease-out 0.1s;
}
section.body .game-list .game ul.game-menu {
  position: absolute;
  width: 200px;
  height: 160px;
  display: block;
  top: 200px;
  -webkit-transition: top 0.5s ease-in 0.3s;
  -moz-transition: top 0.5s ease-in 0.3s;
  -o-transition: top 0.5s ease-in 0.3s;
  transition: top 0.5s ease-in 0.3s;
}
section.body .game-list .game ul.game-menu:before {
  content: '';
  background: -webkit-linear-gradient(bottom, rgba(132, 128, 133, 0.3), rgba(132, 128, 133, 0.7));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(132, 128, 133, 0.3), rgba(132, 128, 133, 0.7));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, rgba(132, 128, 133, 0.3), rgba(132, 128, 133, 0.7));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom, rgba(132, 128, 133, 0.3), rgba(132, 128, 133, 0.7));
  /* Standard syntax (must be last) */
  opacity: 0.9;
  width: 200px;
  height: 160px;
  position: absolute;
  top: 200px;
  left: 0;
  -webkit-transition: top 0.5s ease-in 0.3s;
  -moz-transition: top 0.5s ease-in 0.3s;
  -o-transition: top 0.5s ease-in 0.3s;
  transition: top 0.5s ease-in 0.3s;
}
section.body .game-list .game ul.game-menu li {
  padding: 5px 0;
  z-index: 1;
  display: block;
  width: 100%;
  color: white;
  text-align: center;
  position: relative;
  -webkit-transition: top 0.5s ease-in 0.3s;
  -moz-transition: top 0.5s ease-in 0.3s;
  -o-transition: top 0.5s ease-in 0.3s;
  transition: top 0.5s ease-in 0.3s;
  text-shadow: 2px 2px 2px black;
  text-transform: uppercase;
  font-size: 14px;
  height: 20px;
  line-height: 20px;
  cursor: pointer;
}
section.body .game-list .game ul.game-menu li:hover {
  background: rgba(49, 46, 50, 0.3);
}
section.body .game-list .game:hover ul.game-menu {
  top: 40px;
}
section.body .game-list .game:hover ul.game-menu:before {
  top: 0;
  z-index: 0;
}
section.body .game-list .game:hover .game-name {
  bottom: 170px;
}
section.body .game-list .game:hover img {
  bottom: 70px;
}
section.body .calculator-wrapper .calculator {
  background: white;
  width: 94%;
  margin: 35px 3%;
  text-align: center;
  display: block;
}
section.body .calculator-wrapper .calculator h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 36px;
  color: rgba(42, 48, 65, 0.5);
  margin-bottom: 25px;
  font-weight: 100;
  width: 100%;
  display: block;
}
section.body .calculator-wrapper .calculator .calculator-button {
  width: 40%;
  border: none;
  padding: 15px;
  background: white;
  color: rgba(42, 48, 65, 0.5);
  margin-bottom: 30px;
  outline: 1px solid rgba(42, 48, 65, 0.5);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
}
section.body .calculator-wrapper .calculator .calculator-button:hover {
  background: rgba(42, 48, 65, 0.5);
  color: white;
}
section.body .calculator-wrapper .calculator .calculator-column {
  display: inline-block;
  width: 40%;
  min-width: 200px;
  margin: 0 6% 0 0;
}
section.body .calculator-wrapper .calculator .calculator-column.full {
  width: 86%;
}
section.body .calculator-wrapper .calculator .calculator-column .group {
  color: rgba(42, 48, 65, 0.5);
  display: inline-block;
  vertical-align: top;
  width: 100%;
  min-width: 200px;
  margin-left: 10px;
  margin-right: 10px;
}
section.body .calculator-wrapper .calculator .calculator-column .group input {
  width: 100%;
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  border-bottom: 1px solid rgba(42, 48, 65, 0.5);
}
section.body .calculator-wrapper .calculator .calculator-column .group input:focus,
section.body .calculator-wrapper .calculator .calculator-column .group input:valid {
  border-bottom: 3px solid rgba(42, 48, 65, 0.5);
}
section.body .calculator-wrapper .calculator .calculator-column .group textarea {
  width: 103%;
  color: inherit;
  resize: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid rgba(42, 48, 65, 0.5);
  min-height: 100px;
  box-sizing: border-box;
  padding: 5px;
}
section.body .calculator-wrapper .calculator .calculator-column .group textarea:focus,
section.body .calculator-wrapper .calculator .calculator-column .group textarea:valid {
  border: none;
  border-bottom: 3px solid rgba(42, 48, 65, 0.5);
  -moz-appearance: none;
  outline: 0 none transparent;
}
section.body .calculator-wrapper .calculator .calculator-column .group textarea ~ label {
  top: 3px;
}
section.body .calculator-wrapper .calculator .calculator-column .group textarea:focus ~ label,
section.body .calculator-wrapper .calculator .calculator-column .group textarea:valid ~ label {
  top: -23px;
}
section.body .calculator-wrapper .calculator .calculator-column .group .char-counter {
  float: right;
}
section.body .calculator-wrapper .calculator .calculator-column .group label {
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
}
section.body .calculator-wrapper .calculator .calculator-column .group .select-wrapper {
  border-bottom: 1px solid rgba(42, 48, 65, 0.5);
  width: 105%;
}
section.body .calculator-wrapper .calculator .calculator-column .group .select-wrapper.active {
  border-bottom: 3px solid rgba(42, 48, 65, 0.5);
}
section.body .calculator-wrapper .calculator .calculator-column .group select {
  color: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}
section.body .calculator-wrapper .calculator .calculator-column .group .bar {
  width: 100%;
}
section.body .calculator-wrapper .calculator .calculator-column .group .bar:before {
  background-color: rgba(42, 48, 65, 0.5);
}
section.body .calculator-wrapper .calculator .calculator-column .group .bar:after {
  background-color: rgba(42, 48, 65, 0.5);
}
section.body .calculator-wrapper .calculator .calculator-column .group.invalid {
  color: #f64f42;
  border-color: #f64f42;
}
section.body .calculator-wrapper .calculator .calculator-column .group.invalid .bar {
  width: 100%;
}
section.body .calculator-wrapper .calculator .calculator-column .group.invalid .bar:before {
  background-color: #f64f42;
}
section.body .calculator-wrapper .calculator .calculator-column .group.invalid .bar:after {
  background-color: #f64f42;
}
section.body .right-block {
  width: 20%;
  display: table-cell;
  height: 100%;
}
@media (max-width: 600px) {
  section.body .right-block {
    width: 100vw;
    height: auto;
    display: block;
    margin-top: 0;
  }
}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(180deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(180deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(180deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
i.pay-icon {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 6px;
}
i.pay-icon.webmoney-icon {
  background: url("/img/webmoney.png");
  background-size: contain;
}
i.pay-icon.privat24-icon {
  background: url("/img/privat24.png");
  background-size: contain;
}
i.pay-icon.qiwi-icon {
  background: url("/img/qiwi.png");
  background-size: contain;
}
i.pay-icon.yandex-icon {
  background: url("/img/yandex.ico");
  background-size: contain;
}
i.contacts-icon {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 6px;
}
i.contacts-icon.skype-icon {
  background: url("/img/skype.png");
  background-size: contain;
}
i.contacts-icon.icq-icon {
  background: url("/img/icq.png");
  background-size: contain;
}
i.contacts-icon.vk-icon {
  background: url("/img/vk.png");
  background-size: contain;
}
i.contacts-icon.tel-icon {
  background: url("/img/tel.png");
  background-size: contain;
}
i.contacts-icon.email-icon {
  background: url("/img/email.png");
  background-size: contain;
}
