<div class="buy-accounts-wrapper">
    <div ng-include="textFile"></div>

    <div class="accounts-table">
        <ul class="item-list">
            <li class="header">
                <div ng-show="accounts[0].server" ng-class="{'item-half': !accounts[0].server}">Сервер</div>
                <div ng-class="{'item-half': !accounts[0].server}">Описание</div>
                <div ng-class="{'item-half': !accounts[0].server}">Цена</div>
            </li>
            <li ng-repeat="item in accounts track by $index">
                <div ng-show="accounts[0].server" ng-class="{'item-half': !accounts[0].server}" ng-bind="item.server"></div>
                <div ng-class="{'item-half': !accounts[0].server}" ng-bind="item.description"></div>
                <div ng-class="{'item-half': !accounts[0].server}" ng-bind="item.cost"></div>
            </li>
        </ul>
    </div>
</div>