@import "inputs";
@import "accordion";


@color1: rgb(237,231,246);
@color2: rgba(237,231,246, 0.8);
@error-color: rgb(246, 79, 66);
@color3: rgba(237,231,246, 0.3);
@main-color: rgba(42, 48, 65, 0.5);
@box-shadow: rgba(42, 48, 65, 0.7);
//@main-color: rgba(3, 13, 3, 0.5);
//@box-shadow: rgba(3, 21, 3, 0.7);

* {
  margin: 0;
  padding: 0;
}

input[type='number'] {
  -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  min-width: 900px;
  background: url("/bg12.jpg") no-repeat;
  //background-color: @box-shadow;
  display: table-cell;
  background-size: cover;
  width: 100vw;
  padding-top: 195px;

  @media (max-width: 930px) {
    padding-top: 295px;
  }

  @media (max-width: 650px) {
    padding-top: 285px;
  }

}

header {
  background-color: @main-color;
  -webkit-box-shadow: 0 2px 3px 1px @box-shadow;
  -moz-box-shadow: 0 2px 3px 1px @box-shadow;
  box-shadow: 0 2px 3px 1px @box-shadow;
  z-index: 5;
  top: 0;
  height: 125px;
  left:0;
  width: 100vw;
  position: fixed;
  padding-bottom: 70px;


  @media (max-width: 930px) {
    height: 225px;
  }

  @media (max-width: 650px) {
    height: 275px;
    position: absolute;
  }

  .header-menu {
    position: relative;
    width: 100%;
    left: 0;
    display: inline-block;
    text-align: center;
    right: 0;
    margin: auto;
    margin-top: 60px;

    @media (max-width: 930px) {
      margin-top: 50px;
    }

    a {
      height: 40px;
      line-height: 40px;
      display: inline;
      text-transform: capitalize;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      text-decoration: none;
      color: @color1;
      padding: 10px 20px 10px 20px;
      font-weight: 200;

      &:hover {
        background-color: @color1;
        color: @box-shadow;
      }

      &.active {
        //background-color: @main-color;
        color: @color1;
        font-weight: 600;
        text-shadow: 1px 1px 2px black;

        &:hover {
          background-color: @color1;
          color: @box-shadow;
          text-shadow: none;
        }
      }

    }
  }

  img.logo {
    max-width: 100px;
    max-height: 100px;
    margin: 10px;


    @media (max-width: 600px) {
      clear: both;
      display: inline-block;
    }
  }

  ul.contacts {
    display: block;
    //background: @color3;
    position: absolute;
    right: 6%;
    top: 50px;
    list-style: none;


    @media (max-width: 930px) {
        display: block;
        position: static;
        margin-top: 40px;
        list-style: none;
        text-align: center;

        i {
          position: absolute;
          margin-left: -20px;
          display: inline;
          margin-top: 2px;
          float: none;
        }
    }


    li {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: @color1;
      font-weight: 100;
      margin-top: 10px;
      /* right: 6%; */


      .contacts-item {
        font-weight: 200;
        color: @color1;
      }
    }

  }

  .title {
    //margin: 20px 33%;
    //color: @color1;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 34px;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
    text-align: center;

    top: 25px;
    -webkit-text-stroke: 1px rgba(253,208,135, 0.5);

    color:	#D5AD6D; /*if no support for background-clip*/

    background: -webkit-linear-gradient(transparent, transparent),
    -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
    background: -o-linear-gradient(transparent, transparent);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    //@media (max-width: 600px) {
    //  clear: both;
    //  display: inline-block;
    //  position: static;
    //  width: 100%;
    //  margin-bottom: 15px;
    //}

    h1 {
      font-weight: 500;
    }
  }

}

section.body {
  z-index: 1;
  overflow: hidden;
  //margin-top: 120px;
  min-height: 100vh;
  height: 100%;
  display: table;
  width: 100%;


  aside.left-block {
    width: 18vw;
    //float: left;
    float: left;
    vertical-align: top;
    margin-top: 20px;
    margin-left: 10px;
    display: block;
    //height: 100%;
    //padding-top: 15px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: @color1;
    font-weight: 100;

    .payments {
      padding: 15px;
      background: @main-color;
      -webkit-box-shadow: 0 2px 3px 1px @box-shadow;
      -moz-box-shadow: 0 2px 3px 1px @box-shadow;
      box-shadow: 0 2px 3px 1px @box-shadow;
      margin-bottom: 30px;
    }

    ul {
      list-style: none;
      margin-left: 10px;


      li {
        margin: 9px 0;


      }
    }



    h3 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      color: @color1;
      font-weight: 100;
      font-size: 24px;
      margin: 5px;
    }

    @media (max-width: 600px) {
      width: 100vw;
      height: auto;
      max-height: 900px;
      display: block;
      margin: 0;
      margin-top: 80px;

    }

    &.closed {
      @media (max-width: 600px) {
        max-height: 0
      }
    }

    .mobile-menu {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      -webkit-box-shadow: 0 2px 3px 1px @box-shadow;
      -moz-box-shadow: 0 2px 3px 1px @box-shadow;
      box-shadow: 0 2px 3px 1px @box-shadow;
      display: none;
      position: absolute;
      z-index: 9;
      background: @color2;
      right: 25px;
      text-align: center;
      cursor: pointer;
      bottom: 100px;

      -webkit-transition: bottom 0.5s ease-out 0s;
      -moz-transition: bottom 0.5s ease-out 0s;
      -o-transition: bottom 0.5s ease-out 0s;
      transition: bottom 0.5s ease-out 0s;

      &.closed {
        bottom: 400px;
      }

      i.fa-minus {
        font-size: 35px;
        color: @main-color;
        margin-top: 10px;
        display: none;
        width: 30px;
        height: 30px;

        &.visible {
          -webkit-animation: spin 1s; /* Chrome, Safari, Opera */
          animation: spin 1s;
          display: inline-block;
        }
      }

      i.fa-plus {
        font-size: 35px;
        color: @main-color;
        margin-top: 10px;
        display: none;
        width: 30px;
        height: 30px;


        &.visible {
          -webkit-animation: spin 1s; /* Chrome, Safari, Opera */
          animation: spin 1s;
          display: inline-block;
        }
      }

      @media (max-width: 600px) {
        display: block;
      }
    }



  }

  .main-container {
    @media (max-width: 600px) {
      clear: both;
      margin: 0;
      width: 100vw;
    }
    //float: left;
    width: 70%;
    position: relative;
    padding: 20px 0;
    background: @color2;
    margin-top: 20px;
    min-height: 100vh;
    margin-left: 2%;
    //-webkit-box-shadow: 0 2px 3px 1px @box-shadow;
    //-moz-box-shadow: 0 2px 3px 1px @box-shadow;
    //box-shadow: 0 2px 3px 1px @box-shadow;
    box-sizing: border-box;
    //display: table-cell;
    float: left;
    vertical-align: top;
    height: 100%;

    @media (max-width: 600px) {
      width: 100vw;
      height: auto;
      display: block;
      margin-top: 0;
    }
  }

  .sales {
    text-align: center;
    color: @main-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin-bottom: 10px;
  }

  .static-block {
    display: block;
    width: 100%;
    padding: 0 40px;
    box-sizing: border-box;
    color: @main-color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 200;
    margin-bottom: 10px;

    a {
      color: rgb(146, 121, 64)
    }

    .suppliers-faq {
      margin-top: 20px;
      .question {
        display: block;
        font-weight: 500;
      }

      .answer {
        display: block;
        font-style: italic;
      }
    }

    .suppliers-contacts {
      list-style: none;



      i {
        padding-top: 5px;
        background-position-y: 4px;
        background-repeat: no-repeat;
      }
    }

    .suppliers-pay {
      list-style: none;

      i {
        padding-top: 5px;
        background-position-y: 4px;
        background-repeat: no-repeat;
      }
    }

    p {
      margin-top: 15px;
      text-indent: 1.5em;
      text-align: justify;
      line-height: 1.5em;
       max-width: 100%;

      span {
        word-wrap: break-word;
        display: block;
        max-width: 55vw;
      }
    }

    li {
      margin-top: 15px;
      //text-indent: 1.5em; /* Отступ первой строки */
      text-align: justify;
      line-height: 1.5em;

      ul {
        margin-left: 25px;
      }
    }

    h1 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 36px;
      color: @main-color;
      margin-bottom: 20px;
      font-weight: 100;
    }
  }

  ul.item-list {
    color: @color1;
    list-style: none;
    width: 100%;
    margin-top: 30px;

      li {
        height: 20px;
        line-height: 20px;
        text-align: center;
        padding: 10px 0;
        margin: 2px 40px 0;
        color: @main-color;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        //background: rgba(74, 75, 78, 0.5);
        display: block;
        float: none;
        clear: both;

        &.header {
          font-weight: 600;
        }

        div {
          float: left;
          width: 33%;

          &.item-half {
            width: 50%;
          }
        }
      }

  }

  .game-list {
    display: block;
    text-align: center;
    width: 100%;

    h1 {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 36px;
      color: @main-color;
      margin-bottom: 10px;
      font-weight: 100;
    }

    .game {
      width: 200px;
      height: 200px;
      margin: 5px 10px;
      overflow: hidden;
      position: relative;
      display: inline-block;
      //border-left: 10px solid white;
      //border-right: 10px solid white;
      //border-top: 5px solid white;
      //border-bottom: 5px solid white;

      -webkit-box-shadow: 0 2px 3px 1px @box-shadow;
      -moz-box-shadow: 0 2px 3px 1px @box-shadow;
      box-shadow: 0 2px 3px 1px @box-shadow;

      .game-name {
        position: absolute;
        bottom: 10px;
        right: 10px;
        color: white;
        text-transform: uppercase;
        font-size: 16px;
        font-family:  "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        text-shadow: 2px 2px 2px black;

        -webkit-transition: bottom 0.5s ease-in 0.3s;
        -moz-transition: bottom 0.5s ease-in 0.3s;
        -o-transition: bottom 0.5s ease-in 0.3s;
        transition: bottom 0.5s ease-in 0.3s;


      }

      img {
        position: relative;
        width: 200px;
        bottom: 0;
        -webkit-transition: bottom 0.5s ease-out 0.1s;
        -moz-transition: bottom 0.5s ease-out 0.1s;
        -o-transition: bottom 0.5s ease-out 0.1s;
        transition: bottom 0.5s ease-out 0.1s;
      }

      ul.game-menu {
        position: absolute;
        width: 200px;
        height: 160px;
        display: block;
        top: 200px;
        -webkit-transition: top 0.5s ease-in 0.3s;
        -moz-transition: top 0.5s ease-in 0.3s;
        -o-transition: top 0.5s ease-in 0.3s;
        transition: top 0.5s ease-in 0.3s;

        &:before {
          content: '';
          background: -webkit-linear-gradient(bottom, rgba(132, 128, 133, 0.3), rgba(132, 128, 133, 0.7)); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(bottom, rgba(132, 128, 133, 0.3), rgba(132, 128, 133, 0.7)); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(bottom, rgba(132, 128, 133, 0.3), rgba(132, 128, 133, 0.7)); /* For Firefox 3.6 to 15 */
          background: linear-gradient(to bottom, rgba(132, 128, 133, 0.3), rgba(132, 128, 133, 0.7)); /* Standard syntax (must be last) */
          opacity: 0.9;
          width: 200px;
          height: 160px;
          position:absolute;
          top:200px;
          left:0;

          -webkit-transition: top 0.5s ease-in 0.3s;
          -moz-transition: top 0.5s ease-in 0.3s;
          -o-transition: top 0.5s ease-in 0.3s;
          transition: top 0.5s ease-in 0.3s;
        }

        li {
          padding: 5px 0;
          z-index: 1;
          display: block;
          width: 100%;
          color: white;
          text-align: center;
          position: relative;

          -webkit-transition: top 0.5s ease-in 0.3s;
          -moz-transition: top 0.5s ease-in 0.3s;
          -o-transition: top 0.5s ease-in 0.3s;
          transition: top 0.5s ease-in 0.3s;

          text-shadow: 2px 2px 2px black;
          text-transform: uppercase;
          font-size: 14px;
          height: 20px;
          line-height: 20px;
          cursor: pointer;

          &:hover {
            background: rgba(49, 46, 50, 0.3);
          }
        }
      }

      &:hover {

        ul.game-menu {
          top: 40px;

          &:before {
            top: 0;
            z-index: 0;
          }
        }

        .game-name {
          bottom: 170px;
        }

        img {
          bottom: 70px;
        }
      }
    }



  }

  .calculator-wrapper {

    .calculator {
      background: white;
      width: 94%;
      margin: 35px 3%;
      text-align: center;
      display: block;

      h1 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 36px;
        color: @main-color;
        margin-bottom: 25px;
        font-weight: 100;
        width: 100%;
        display: block;

      }

      .calculator-button {
        width: 40%;
        border: none;
        padding: 15px;
        background: white;
        color: @main-color;
        margin-bottom: 30px;
        outline: 1px solid @main-color;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        cursor: pointer;

        &:hover {
          background: @main-color;
          color: white;
        }
      }


      .calculator-column {
        display: inline-block;
        width: 40%;
        min-width: 200px;
        margin: 0 6% 0 0;
        &.full {
          width: 86%;
        }


        .group {
          color: @main-color;
          display: inline-block;
          vertical-align: top;
          width: 100%;
          min-width: 200px;
          margin-left:  10px;
          margin-right:  10px;

          input {
             width: 100%;
             color: inherit;
             font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
             font-weight: 200;
             font-size: 14px;
             border-bottom: 1px solid @main-color;

            &:focus, &:valid {
              border-bottom: 3px solid @main-color;
            }
           }

          textarea {
            width: 103%;
            color: inherit;
            resize: none;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 200;
            font-size: 14px;
            border: none;
            border-bottom: 1px solid @main-color;
            min-height: 100px;
            box-sizing: border-box;
            padding: 5px;

            &:focus, &:valid {
              border: none;
              border-bottom: 3px solid @main-color;
              -moz-appearance:none;
              outline:0 none transparent;
            }
          }

          textarea ~ label {
            top: 3px;
          }

          textarea:focus ~ label, textarea:valid ~ label {
            top: -23px;
          }

          .char-counter {
            float: right;
          }



          label {
            color: inherit;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 200;
            font-size: 14px;
          }

          .select-wrapper {
            border-bottom: 1px solid @main-color;
            width: 105%;
          }

          .select-wrapper.active {
            border-bottom: 3px solid @main-color;
          }

          select {
            color: inherit;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-weight: 200;
            font-size: 14px;
            width: 100%;
            cursor: pointer;
          }


          .bar {
            width: 100%;
            &:before {
              background-color: @main-color;
            }
            &:after {
              background-color: @main-color;
            }
          }
          //margin: 50px;


          &.invalid {
            color: @error-color;
            border-color: @error-color;
            .bar {
              width: 100%;
              &:before {
                background-color: @error-color;
              }
              &:after {
                background-color: @error-color;
              }
            }
          }
        }
      }


    }

  }

  .right-block {
    width: 20%;
    //background: white;
    display: table-cell;
    height: 100%;
    //display: block;

    //background: @main-color;
    //height: 100%;
    //padding-top: 15px;
    //-webkit-box-shadow: 0 2px 3px 1px @box-shadow;
    //-moz-box-shadow: 0 2px 3px 1px @box-shadow;
    //box-shadow: 0 2px 3px 1px @box-shadow;

    @media (max-width: 600px) {
      width: 100vw;
      height: auto;
      display: block;
      margin-top: 0;
    }
    //.contacts {
    //  border: 1px solid black;
    //  height: 200px;
    //  margin: 5px;
    //}
    //
    //.unknown {
    //  border: 1px solid black;
    //  height: 200px;
    //}
  }

}
@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  } to {
      -ms-transform: rotate(180deg);
    }
  
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  } to {
      -moz-transform: rotate(180deg);
    }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  } to {
      -webkit-transform: rotate(180deg);
    }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
      transform: rotate(180deg);
    }
}

i.pay-icon {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 6px;

  &.webmoney-icon {
    background: url("/img/webmoney.png");
    background-size: contain;
  }

  &.privat24-icon {
    background: url("/img/privat24.png");
    background-size: contain;
  }

  &.qiwi-icon {
    background: url("/img/qiwi.png");
    background-size: contain;
  }

  &.yandex-icon {
    background: url("/img/yandex.ico");
    background-size: contain;
  }
}

i.contacts-icon {
  width: 16px;
  height: 16px;
  display: block;
  float: left;
  margin-right: 6px;

  &.skype-icon {
    background: url("/img/skype.png");
    background-size: contain;
  }

  &.icq-icon {
    background: url("/img/icq.png");
    background-size: contain;
  }

  &.vk-icon {
    background: url("/img/vk.png");
    background-size: contain;
  }

  &.tel-icon {
    background: url("/img/tel.png");
    background-size: contain;
  }

  &.email-icon {
    background: url("/img/email.png");
    background-size: contain;
  }
}


footer {
  margin: 40px 0;
  width: 100%;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: @color1;

  @media (max-width: 600px) {
    width: 100vw;
    display: block;
    margin-top: 80px;
  }
}

.sale-text {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  font-size: 14px;
  color: @box-shadow;
}