<div class="static-block">
    <h1>Купить валюту</h1>

    <p>Nam et luctus tellus, in pharetra libero. Phasellus dapibus libero in justo hendrerit volutpat. Pellentesque
        maximus risus dolor. In dictum augue eu nunc feugiat, a finibus turpis accumsan. Quisque ac nibh mattis, rhoncus
        massa at, accumsan est. Aenean vitae tortor ut orci semper maximus. Sed pulvinar tristique malesuada. Nam
        vestibulum ullamcorper enim sit amet fermentum.
    </p>

    <p>Praesent non ligula consectetur, elementum neque ut, lacinia ex. Pellentesque dignissim libero et ipsum luctus,
        eu posuere neque sodales. Mauris fringilla scelerisque neque, a molestie augue lobortis quis. Etiam congue enim
        in convallis suscipit. Proin viverra dolor ac pulvinar suscipit. Suspendisse ultrices mi est, quis consequat leo
        tempus at. Curabitur bibendum, est id rhoncus feugiat, nunc augue rhoncus sem, vulputate maximus quam velit non
        massa. Aenean mi dui, molestie et eros vitae, pharetra cursus massa. Nulla facilisi. Etiam eget nulla et massa
        fringilla rutrum ut non tellus. Nullam velit justo, blandit nec vehicula quis, egestas venenatis orci. Donec
        malesuada posuere sapien, cursus iaculis eros porta nec. Donec ac pulvinar sapien.
    </p>
</div>