<div class="static-block">
    <h1>Контакты</h1>

    <ul class="suppliers-contacts">
        <li>
            <i class="contacts-icon skype-icon"></i>
            skype: <a class="contacts-item" href="skype:goldwarden.ru?chat">goldwarden.ru</a>
        </li>
        <li>
            <i class="contacts-icon vk-icon"></i>
            vk.com: <a class="contacts-item" href="http://vk.com/id363624492">http://vk.com/id363624492</a>
        </li>
        <li>
            <i class="contacts-icon icq-icon"></i>
            icq: <span class="contacts-item">665244691</span>
        </li>
        <li>
            <i class="contacts-icon email-icon"></i>
            email: <span class="contacts-item">admin@goldwarden.ru</span>
        </li>
        <li>
            <i class="contacts-icon tel-icon"></i>
            телефон: <span class="contacts-item">+380936437006</span>
        </li>
    </ul>

</div>
