<div class="static-block">
    <h1>Наши гарантии</h1>

    <ul>
        <li>Все кошельки аттестованы, срок регистрации более 3х лет, не имеют притензий, высокий BL.</li>
        <li>Рекомендации игроков с которыми мы работаем.</li>
        <li>Игровые цености только от проверенных поставщиков.</li>
        <li>Передача игровой валюты самым безопасными способом.</li>
        <li>Также из важных гарантий является наша репутация, вы не сможете  найти нас в черных списках. Потому что, мы работаем честно.</li>
        <li>Всегда проверяйте наши реквезиты перед оплатой:
            <ul>
                <li>QIWI +380936437006</li>
                <li>Webmoney WMID: 318113749900</li>
                <li>Yandex 410014163654539</li>
            </ul>
        </li>
    </ul>
   

</div>
