<div class="static-block">
    <h1>Купить предметы</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus non iaculis quam. Curabitur eu sollicitudin
        massa, nec dapibus arcu. Pellentesque cursus ultricies velit id finibus. Pellentesque nec placerat augue. Nullam
        pulvinar, eros sed venenatis aliquam, diam dolor sagittis elit, ac iaculis velit lacus a mauris. Praesent
        imperdiet at lacus sed porta. Sed bibendum ex erat, sagittis lobortis odio luctus in. Morbi ut ante ultrices,
        suscipit ipsum quis, iaculis lorem. Vestibulum malesuada enim sed justo vestibulum efficitur. Pellentesque non
        rhoncus augue. Duis rutrum lobortis consectetur. Curabitur leo orci, posuere at finibus in, euismod sit amet ex.
        Mauris convallis gravida gravida. Integer at velit mauris. Aliquam erat volutpat.
    </p>

    <p>Donec et erat velit. Etiam neque odio, ullamcorper nec faucibus at, feugiat convallis quam. Fusce a blandit
        lectus. Suspendisse pretium convallis sodales. Aenean rhoncus felis imperdiet bibendum dapibus. Donec cursus
        augue leo, eget placerat nibh euismod id. Donec sed fermentum nibh. Maecenas imperdiet sodales luctus. Maecenas
        rutrum dictum tellus ut iaculis. Phasellus nec varius sem, vel rhoncus justo.
    </p>

    <p>In hac habitasse platea dictumst. Quisque eget nulla quis velit elementum efficitur sed vitae nibh. Mauris eu
        augue cursus tellus faucibus ultrices vel id erat. Praesent ultricies eros quam. Mauris bibendum metus et eros
        feugiat dignissim. Vivamus vel mi in arcu mollis cursus. Sed eu sem at eros auctor egestas. Aliquam tincidunt
        magna ut dictum fermentum. Curabitur at vestibulum augue, ut eleifend diam. Donec tempor tempus sagittis. In
        nibh velit, faucibus gravida consequat in, convallis ac diam. Sed id massa quis justo laoreet tempor. Ut
        tristique massa at consectetur maximus. Mauris mattis sit amet mauris a porttitor. Suspendisse scelerisque, dui
        vitae placerat facilisis, elit nisi pulvinar dui, ac tempus mauris nulla quis risus. Proin lacinia lorem ut ex
        fermentum pellentesque.
    </p>

    <p>Nam et luctus tellus, in pharetra libero. Phasellus dapibus libero in justo hendrerit volutpat. Pellentesque
        maximus risus dolor. In dictum augue eu nunc feugiat, a finibus turpis accumsan. Quisque ac nibh mattis, rhoncus
        massa at, accumsan est. Aenean vitae tortor ut orci semper maximus. Sed pulvinar tristique malesuada. Nam
        vestibulum ullamcorper enim sit amet fermentum.
    </p>

    <p>Praesent non ligula consectetur, elementum neque ut, lacinia ex. Pellentesque dignissim libero et ipsum luctus,
        eu posuere neque sodales. Mauris fringilla scelerisque neque, a molestie augue lobortis quis. Etiam congue enim
        in convallis suscipit. Proin viverra dolor ac pulvinar suscipit. Suspendisse ultrices mi est, quis consequat leo
        tempus at. Curabitur bibendum, est id rhoncus feugiat, nunc augue rhoncus sem, vulputate maximus quam velit non
        massa. Aenean mi dui, molestie et eros vitae, pharetra cursus massa. Nulla facilisi. Etiam eget nulla et massa
        fringilla rutrum ut non tellus. Nullam velit justo, blandit nec vehicula quis, egestas venenatis orci. Donec
        malesuada posuere sapien, cursus iaculis eros porta nec. Donec ac pulvinar sapien.</p>
</div>
