<div class="static-block">
    <h1>Поставщикам</h1>

    Gold Warden всегда готов купить вашу игровую валюту, цености а также акаунты.<br/>
    Для продажи вам необходимо обратится к нашему консультанту:

    <ul class="suppliers-contacts">
        <li>
            <i class="contacts-icon skype-icon"></i>
            skype: <a class="contacts-item" href="skype:goldwarden.ru?chat">goldwarden.ru</a>
        </li>
        <li>
            <i class="contacts-icon vk-icon"></i>
            vk.com: <a class="contacts-item" href="http://vk.com/id363624492">http://vk.com/id363624492</a>
        </li>
        <li>
            <i class="contacts-icon icq-icon"></i>
            icq: <span class="contacts-item">665244691</span>
        </li>
    </ul>




    <p>Оплата производится в течении нескольких минут, в редких случаях процес может занять  24 часа - если наблюдаются проблемы с сервисами оплаты.
    Администрация сервиса также оставляет право задержки выплаты на 1-3 дня в зависимости от сервиса, во избежании покупки краденых ценостей.</p>
    <br/>
    Оплату вы можете получить в любой из перечисленных платежных систем:

    <ul class="suppliers-pay">
        <li>
            <i class="pay-icon webmoney-icon"></i> Webmoney
        </li>
        <li>
            <i class="pay-icon qiwi-icon"></i>Qiwi
        </li>
        <li>
            <i class="pay-icon yandex-icon"></i>Яндекс
        </li>
        <li>
            <i class="pay-icon privat24-icon"></i>Приват24
        </li>
    </ul>


</div>
