<div class="static-block">
    <h1>Поставщикам</h1>

    Gold Warden всегда готов купить вашу игровую валюту, ценности а также акаунты.<br/>
    Для продажи вам необходимо обратится к нашему консультанту:

    <ul class="suppliers-contacts">
        <li>
            <i class="contacts-icon skype-icon"></i>
            <a class="contacts-item" href="skype:goldwarden.ru?chat">goldwarden.ru</a>
        </li>
        <li>
            <i class="contacts-icon vk-icon"></i>
            <a class="contacts-item" target="_blank" href="http://vk.com/id363624492">http://vk.com/id363624492</a>
        </li>
        <li>
            <i class="contacts-icon icq-icon"></i>
            <span class="contacts-item">665244691</span>
        </li>
    </ul>


    <p>Оплата производится в течении нескольких минут, в редких случаях процесс может занять 24 часа - если наблюдаются
        проблемы с сервиса ми оплаты.
        Администрация сервиса также оставляет право задержки выплаты на 1-3 дня в зависимости от сервиса, во избежании
        покупки краденых ценностей.</p>
    <br/>
    Оплату вы можете получить в любой из перечисленных платежных систем:

    <ul class="suppliers-pay">
        <li>
            <i class="pay-icon webmoney-icon"></i>Webmoney
        </li>
        <li>
            <i class="pay-icon qiwi-icon"></i>Qiwi
        </li>
        <li>
            <i class="pay-icon yandex-icon"></i>Яндекс
        </li>
        <li>
            <i class="pay-icon privat24-icon"></i>Приват24
        </li>
    </ul>

    <br/>Распространенные вопросы и ответы:

    <ul class="suppliers-faq">
        <li>
            <span class="question">Я вам не доверяю и хочу провести сделку частями.</span>
            <span class="answer">Сделку частями мы производим только для новых поставщиков единоразово, максимально на 5 частей.</span>
        </li>
        <li>
            <span class="question">Я хочу получить оплату вперед</span>
            <span class="answer">Мы не платим за мифические ценности, оплата производится по факту получения игровой ценности.</span>
        </li>
        <li>
            <span class="question">Каковы ваши гарантии</span>
            <span class="answer"><a ui-sref="static.guarantee">Гарантии</a>; <a ui-sref="static.reviews">Отзывы</a> </span>
        </li>
    </ul>


</div>






