<div class="static-block">
    <h1>Купить аккаунт:</h1>

    <ul>
        <li>
            <ul>
                <li>Выберите из списка интересующий вас лот</li>
                <li>Свяжитесь с нашим <a ui-sref="static.contacts">консультантом</a> </li>
            </ul>
        </li>

        <li>
            <ul>
                <li>Если в списке отсутствует интересующий вас лот</li>
                <li>Свяжитесь с нашим <a ui-sref="static.contacts">консультантом</a> и
                    мы постараемся раздобыть интересующий вас акаунт в кротчайшие сроки</li>
            </ul>
        </li>

    </ul>
</div>

