<div class="static-block">
    <h1>Как купить Адену:</h1>

    <ul>
        <li>Заполните все поля в форме ниже
            <ul>
                <li>Выберите сервер на котором вы хотите приобрести адену</li>
                <li>Укажите ник персонажа на который будет передана адена</li>
                <li>Укажите сумму которую вы хотите заплатить или укажите количество необходимой адены</li>
                <li>Обязательно укажите свои контакты skype, icq, vk - для того чтобы наш консультант мог с вами связаться для передачи Золота и дальнейшей консультации по сделке.</li>
                <li>Укажите дополнительные условия в поле Комментарий</li>
            </ul>
        </li>

        <li>Свяжитесь с нашим консультантом и оформите заявку на покупку в <a ui-sref="static.contacts">Live</a> режиме</li>
    </ul>
</div>