<div class="static-block">
    <h1>Купить предметы:</h1>

    <ul>
        <li>
            <ul>
                <li>Выберите из списка интересующий вас предмет</li>
                <li>Свяжитесь с нашим <a ui-sref="static.contacts">консультантом</a></li>
            </ul>
        </li>

        <li>
            <ul>
                <li>Если интересующий вас предмет отсутствует в списке</li>
                <li>Свяжитесь с нашим <a ui-sref="static.contacts">консультантом</a> и
                    мы постараемся раздобыть интересующий вас акаунт в кротчайшие сроки</li>
            </ul>
        </li>

    </ul>
</div>




